@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin-top: 90px 0px;
  /* 헤더와 상단의 간격 145px만큼 띄우기 */
  text-align: center;
  /* display:flex를 사용할 수 있으나 h1이나 p를 다룰때는 text-align을 쓰자 */
  display: flex;
  /* 여기서 text 위치를 배열하려면 */
  flex-direction: column;
  /* 좌우가 아닌 위아래로 배열하려면? */
  align-items: center;
  /* 교차축을 이용해 센터로 오게하자 */
}

.welcome-header__title {
  margin-bottom: 20px;
  /* title과 아래 간격 40px 조절 */
  font-size: 25px;
}

/* 아래 글의 텍스트 너비가 제한적이다. 이를 풀어주려면 */
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  /* 회색효과*/
}