#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

/* icon 색 바꾸기, icon은 font와 같다.*/